<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://enjoy.tbipas.pw/ipa/tweakbox/gc4ios.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>org.tihmstar.h3lix</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>

				
 				<string>
snapchat++
â‌¤ ًں”¥ًں”¥ â‌¤
ط£ط®ط± طھط­ط¯ظٹط«
â‌¤ ًں”¥ًں”¥ â‌¤
ط±ظپط¹: ط³ظ…ظˆ ظ„ظ„ط¥طھطµط§ظ„ط§طھ
â‌¤ ًں”¥ًں”¥ â‌¤
ط­ط³ط§ط¨ظٹ ظپظٹ ط³ظ†ط§ط¨ ط´ط§طھًں‘‡ًں‘‡ًں‘‡
@sumow9209
â‌¤ ًں”¥ًں”¥ â‌¤
				</string>
				
            </dict>
        </dict>
    </array>
</dict>
</plist>